<!DOCTYPE html>
<div th:fragment="products" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/products"></div>
</div>

<div th:fragment="login" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/login"></div>
</div>

<div th:fragment="addCategory" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/addCategoryForm"></div>
</div>

<div th:fragment="addBook" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/addBookForm"></div>
</div>

<div th:fragment="cart" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/cart"></div>
</div>

<div th:fragment="bookDetails" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/bookDetails"></div>
</div>

<div th:fragment="manageBookDetails" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/manageBookDetails"></div>
</div>

<div th:fragment="manageProducts" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/manageProducts"></div>
</div>

<div th:fragment="manageStock" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/manageStock"></div>
</div>

<div th:fragment="managePicture" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/pages/managePicture"></div>
</div>