<!DOCTYPE html>

<form th:action="@{/admin/book}"
      enctype="multipart/form-data"
      method="POST"
      xmlns:th="http://www.thymeleaf.org" class="form-group col-lg-4">
    <h3>Create product:</h3>
    <label>Name: </label><input type="text" name="name" class="form-control"/><br/>
    <label> Description:</label> <input type="text" name="description" class="form-control"/><br/>
    <label>Category: </label>
    <select name="categoryId" class="btn btn-default">
        <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
    </select>
    <br/>
    <label>ISBN: </label> <input type="text" name="isbn" class="form-control"/><br/>
    <label>Price: </label> <input type="text" name="price" class="form-control"/><br/>
    <label>Existing authors: </label>
    <select id="existingAuthors" name="existingAuthors" class="btn btn-default" multiple="multiple">
        <option th:each="a : ${existingAuthors}" th:text="${a.nameAndLastName}"></option>
    </select>
    <br/>
    <label>New Authors: </label> <input type="text" name="authors" class="form-control"/><br/>
    <label>Picture (png): </label><input type="file" name="picture" class="form-control"/><br/>
    <label>Book file: </label><input type="file" name="bookFile" class="form-control"/>
    <input type="submit" class="btn btn-primary"/>
</form>